pytz==2022.1
PyYAML==5.4.1
reportlab==3.6.8
requests==2.25.1
python-dotenv==0.20.0
django-easy-select2==1.5.8
django-admin-list-filter-dropdown==1.0.3
mysqlclient==2.1.1
openpyxl==3.0.10
pysendpulse==0.1.4
Deprecated==1.2.13
