{% extends "layout.html" %}
{% load static %}
{% block title %}ЦОПП СО | Добавление преподователя{% endblock %}
{% block style %}
    <link href="{% static 'schedule/css/cycle_form.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
    <div class="form-container">
    <div class="cycle-form">
        <h2>Регистрация преподаватели</h2>
        {% if message != "" %}
            <div class="alert alert-success" role="alert">
                <p>{{message}}</p>
            </div>   
        {% endif %}
        <form action="{% url 'add_trainer' %}" method="post">
            <div class="form mb-3">
                <select class="selectpicker" data-width="100%" data-live-search="true" name="education_center" required>
                    <option value="">Выберите центр обучения</option>
                    {% for education_center in education_centers %}
                        <option value="{{education_center.id}}">{{education_center}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="last_name" placeholder="Фамилия" required>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="first_name" placeholder="Имя" required>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="middle_name" placeholder="Отчество" required>
            </div>
            <div class="input-group mb-3">
                <input type="email" class="form-control email" name="email" placeholder="Email" aria-label="Email" aria-describedby="at">
                <span class="input-group-text" id="at">@</span>
            </div>
            <div class="input-group mb-3">
                <input type="phone2numeric" class="form-control" name="phone" id="Phone" placeholder="Номер телефона" required>
            </div>
            <div class="submit-btn">
                <input type="submit" value="Сохранить" class="btn btn-primary">   
            </div>
        </form>
    </div>
{% endblock %}