{% extends "education_centers/ed_center_layout.html" %}
{% load static %}
{% load schedule_extras %}
{% block title %}ЦОПП СО | Импорт ЦО{% endblock %}

{% block style %}
    <link href="{% static 'education_centers/css/ed_center_layout.css' %}" rel="stylesheet">
    <link href="{% static 'education_centers/css/ed_center.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="{% static 'education_centers/js/ed_center.js' %}" rel="stylesheet"></script>
{% endblock %}

{% block dashboard %}
    {% for program in programs %}
        <div class="modal fade EditProgramModal" id="EditProgramModal{{program.id}}" tabindex="-1" aria-labelledby="EditProgramModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="EditProgramLabel">Изменить программу</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="{% url 'add_program' %}" method="post">
                        <div class="modal-body">
                            <div>
                                <input style="display:none;" type="input" class="form-control" name="program_id"  value={{program.id}}  required>
                                <div class="form-floating mb-3">
                                    <input type="input" class="form-control" name="name" id="Name" placeholder="Название программы" value="{{program.name}}" required>
                                    <label for="Name">Название программы</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="input" class="form-control" name="short_desc" id="ShortDesc" maxlength="256" placeholder="Короткое описание" value="{{program.short_description}}" required>
                                    <label for="ShortName">Короткое описание</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="input" class="form-control" name="program_link" id="ProgramLink" placeholder="Ссылка на программу" value="{{program.program_link}}" required>
                                    <label for="ShortName">Ссылка на программу</label>
                                </div>
                                <div class="form mb-3">
                                    <label for="ProgramType">Тип программы</label>
                                    <select class="selectpicker" data-width="100%" data-live-search="true" name="program_type" id="ProgramType" required>
                                        <option class="placeholder">Выберите тип программы</option>
                                        {% if program.program_type == "SP" %}
                                            <option selected value="SP">Профпроба</option>
                                        {% else %}
                                            <option value="SP">Профпроба</option>
                                        {% endif %}
                                        {% if program.program_type == "MP" %}
                                            <option selected value="MP">Интенсив</option>
                                        {% else %}
                                            <option value="MP">Интенсив</option>
                                        {% endif %}
                                        {% if program.program_type == "LP" %}
                                        <option selected value="LP">Обучение</option>
                                        {% else %}
                                        <option value="LP">Обучение</option>
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="form mb-3 child-step-hidden" id="form-disability">
                                    <label for="ProgramType">Нозологии</label>
                                    <select class="selectpicker" title="Выберите нозологии" data-width="100%" data-live-search="true" name="disability_types" multiple>
                                        {% for type in disability_types %}
                                            {% if type in program.disability_types.all %}
                                                <option selected value="{{type.id}}" class="disability_type" data-school="{{type}}">{{type.name}}</option>
                                            {% else %}
                                                <option value="{{type.id}}" class="disability_type" data-school="{{type}}">{{type.name}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="criteria">
                                <p>Ассессмент</p>
                                {% for criterion in program.criteria.all %}
                                    <div class="form-floating mb-3">
                                        <input type="input" class="form-control" name="CriterionName{{criterion.id}}" value="{{criterion.name}}" maxlength="50" placeholder="Название критерия" required>
                                        <label for="CriterionName{{criterion.id}}">Название критерия</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <textarea class="form-control" name="CriterionDesc{{criterion.id}}" rows="3" required>{{criterion.description}}</textarea>
                                        <label for="CriterionDesc{{criterion.id}}">Описание критерия</label>
                                    </div>
                                {% endfor %}
                                {% if program.criteria.all|length == 0 %}
                                    <div class="form-floating mb-3">
                                        <input type="input" class="form-control" name="CriterionName1" id="CriterionName1" maxlength="50" placeholder="Название критерия" required>
                                        <label for="Name">Название критерия 1</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <textarea class="form-control" name="CriterionDesc1" id="CriterionDesc1" rows="3" required></textarea>
                                        <label for="CriterionDesc1">Описание критерия 1</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="input" class="form-control" name="CriterionName2" id="CriterionName2" maxlength="50" placeholder="Название критерия" required>
                                        <label for="Name">Название критерия 2</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <textarea class="form-control" name="CriterionDesc2" id="CriterionDesc2" rows="3" required></textarea>
                                        <label for="CriterionDesc2">Описание критерия 2</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="input" class="form-control" name="CriterionName3" id="CriterionName3" maxlength="50" placeholder="Название критерия" required>
                                        <label for="Name">Название критерия 3</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <textarea class="form-control" name="CriterionDesc3" id="CriterionDesc3" rows="3" required></textarea>
                                        <label for="CriterionDesc3">Описание критерия 3</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="input" class="form-control" name="CriterionName4" id="CriterionName4" maxlength="50" placeholder="Название критерия" required>
                                        <label for="Name">Название критерия 4</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <textarea class="form-control" name="CriterionDesc4" id="CriterionDesc4" rows="3" required></textarea>
                                        <label for="CriterionDesc4">Описание критерия 4</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="input" class="form-control" name="CriterionName5" id="CriterionName5" maxlength="50" placeholder="Название критерия" required>
                                        <label for="Name">Название критерия 5</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <textarea class="form-control" name="CriterionDesc5" id="CriterionDesc5" rows="3" required></textarea>
                                        <label for="CriterionDesc5">Описание критерия 5</label>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-primary" name="edit-program">Сохранить изменения</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}
    {% for test in tests %}
        <div class="modal fade TestModal" id="TestModal{{test.id}}" tabindex="-1" aria-labelledby="TestModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="TestLabel">{{test.program}} (Поток №{{test.stream.id}})</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p><b>Преподователь:</b> {{test.trainer}}</p>
                        {% if test.conference != None %}
                            <div>
                                <b>Ссылка на подключение:</b> <a href="{{test.conference.invite_link}}">{{test.conference.invite_link}}</a>
                                {% if test.conference != None %}
                                    <br><b>Идентификатор:</b> {{test.conference.Identifier}}</a>
                                {% endif %}
                                {% if test.conference != None %}
                                    <br><b>Код доступа:</b> {{test.conference.access_code}}</a>
                                {% endif %}
                                {% if test.conference != None %}
                                    <br><b>Инструкция:</b> {{test.conference.instruction}}</a>
                                {% endif %}
                            </div>
                        {% elif test.workshop != None %}
                            <div>
                                <b>Адрес:</b> {{test.workshop.adress}}
                                <p>
                                    <b>Подсказка:</b> {{test.workshop.description}}
                                </p>
                            </div>
                        {% endif %}
                        <ul class="list-group">
                            <p><b>Участники пробы:</b></p>
                            {% for student in test.students.all %}
                                    <li class="list-group-item students-list-modal">
                                        {{student}}
                                    </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-outline-success">Сохранить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="modal fade" id="addProgramModal" tabindex="-1" aria-labelledby="addProgramModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addProgramLabel">Добавить программу</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'add_program' %}" method="post">
                    <div class="modal-body">
                        <div>
                            <input style="display:none;" type="input" class="form-control" name="education_center"  value={{ed_center.id}}  required>
                            <div class="form-floating mb-3">
                                <input type="input" class="form-control" name="name" id="Name" placeholder="Название программы" value="" required>
                                <label for="Name">Название программы</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="input" class="form-control" name="short_desc" id="ShortDesc" maxlength="256" placeholder="Короткое описание" required>
                                <label for="ShortName">Короткое описание</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="input" class="form-control" name="program_link" id="ProgramLink" placeholder="Ссылка на программу" required>
                                <label for="ShortName">Ссылка на программу</label>
                            </div>
                            <div class="form mb-3">
                                <label for="ProgramType">Тип программы</label>
                                <select class="selectpicker" data-width="100%" data-live-search="true" name="program_type" id="ProgramType" required>
                                    <option class="placeholder">Выберите тип программы</option>
                                    <option value="SP">Профпроба</option>
                                    <option value="MP">Интенсив</option>
                                    <option value="LP">Обучение</option>
                                </select>
                            </div>
                            <div class="form mb-3 child-step-hidden" id="form-disability">
                                <label for="ProgramType">Нозологии</label>
                                <select class="selectpicker" title="Выберите нозологии" data-width="100%" data-live-search="true" name="disability_types" multiple>
                                    {% for type in disability_types %}
                                        <option value="{{type.id}}" class="disability_type" data-school="{{type}}">{{type.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="criteria">
                            <p>Ассессмент</p>
                            <div class="form-floating mb-3">
                                <input type="input" class="form-control" name="CriterionName1" id="CriterionName1" maxlength="50" placeholder="Название критерия" required>
                                <label for="Name">Название критерия 1</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea class="form-control" name="CriterionDesc1" id="CriterionDesc1" rows="3" required></textarea>
                                <label for="CriterionDesc1">Описание критерия 1</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="input" class="form-control" name="CriterionName2" id="CriterionName2" maxlength="50" placeholder="Название критерия" required>
                                <label for="Name">Название критерия 2</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea class="form-control" name="CriterionDesc2" id="CriterionDesc2" rows="3" required></textarea>
                                <label for="CriterionDesc2">Описание критерия 2</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="input" class="form-control" name="CriterionName3" id="CriterionName3" maxlength="50" placeholder="Название критерия" required>
                                <label for="Name">Название критерия 3</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea class="form-control" name="CriterionDesc3" id="CriterionDesc3" rows="3" required></textarea>
                                <label for="CriterionDesc3">Описание критерия 3</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="input" class="form-control" name="CriterionName4" id="CriterionName4" maxlength="50" placeholder="Название критерия" required>
                                <label for="Name">Название критерия 4</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea class="form-control" name="CriterionDesc4" id="CriterionDesc4" rows="3" required></textarea>
                                <label for="CriterionDesc4">Описание критерия 4</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="input" class="form-control" name="CriterionName5" id="CriterionName5" maxlength="50" placeholder="Название критерия" required>
                                <label for="Name">Название критерия 5</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea class="form-control" name="CriterionDesc5" id="CriterionDesc5" rows="3" required></textarea>
                                <label for="CriterionDesc5">Описание критерия 5</label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Добавить программу</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addTrainerModal" tabindex="-1" aria-labelledby="addTrainerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTrainerLabel">Добавить преподователя</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'add_trainer' %}" method="post">
                    <div class="modal-body">
                        <input style="display:none;" type="input" class="form-control" name="education_center" value={{ed_center.id}} required>

                        <div class="form-floating mb-3">
                            <input type="input" class="form-control" name="name" id="Name" placeholder="Имя" required>
                            <label for="Name">Имя</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="input" class="form-control" name="middle_name" id="MiddleName" placeholder="Отчество">
                            <label for="MiddleName">Отчество</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="input" class="form-control" name="last_name" id="LastName" placeholder="Фамилия" required>
                            <label for="LastName">Фамилия</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="input" class="form-control" name="position" id="Position" placeholder="Должность" required>
                            <label for="Position">Должность</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" name="email" id="Email" placeholder="Email" required>
                            <label for="Email">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="phone2numeric" class="form-control" name="phone" id="Phone" placeholder="Номер телефона" required>
                            <label for="Phone">Номер телефона</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Добавить преподователя</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addWorkshopModal" tabindex="-1" aria-labelledby="addWorkshopModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addWorkshopLabel">Добавить мастерскую</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'add_workshop' %}" method="post">
                    <div class="modal-body">
                        <input style="display:none;" type="input" class="form-control" name="education_center" value={{ed_center.id}} required>
                        <div class="form mb-3">
                            <label for="ProgramType">Компетенция</label>
                            <select class="selectpicker" title="Выберите компетенцию" data-width="100%" data-live-search="true" name="competence">
                                {% for competence in competencies %}
                                    <option value="{{competence.id}}">{{competence.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form mb-3">
                            <label for="ProgramType">Населённый пункт</label>
                            <select class="selectpicker" title="Выберите нас. пункт" data-width="100%" data-live-search="true" name="city" required>
                                {% for city in cities %}
                                    <option value="{{city.id}}">{{city.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="input" class="form-control" name="street" placeholder="Улица" required>
                            <label for="street">Улица</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="input" class="form-control" name="building_number" placeholder="Дом" required>
                            <label for="building_number">Дом</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" name="floor"  placeholder="Этаж" required>
                            <label for="floor">Этаж</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="input" class="form-control" name="apartment" placeholder="Аудитория" required>
                            <label for="apartment">Аудитория</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="input" class="form-control" name="description" placeholder="Комментарий">
                            <label for="description">Комментарий</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Добавить мастерскую</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addConferenceModal" tabindex="-1" aria-labelledby="addConferenceModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addConferenceLabel">Добавить преподователя</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'add_conference' %}" method="post">
                    <div class="modal-body">
                        <input style="display:none;" type="input" class="form-control" name="education_center" value={{ed_center.id}} required>
                        <div class="form-floating mb-3">
                            <input type="input" class="form-control" name="name" placeholder="Название" required>
                            <label for="name">Название</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="input" class="form-control" name="invite_link" placeholder="Ссылка на конференцию" required>
                            <label for="invite_link">Ссылка на конференцию</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="input" class="form-control" name="Identifier" placeholder="Идентификатор">
                            <label for="Identifier">Идентификатор</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="input" class="form-control" name="access_code"  placeholder="Код доступа">
                            <label for="access_code">Код доступа</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="input" class="form-control" name="instruction" placeholder="Инструкция">
                            <label for="instruction">Инструкция</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Добавить конференцию</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="overview">
        <h2>Показатели</h2>
        <div class="overview-data">
            <div class="data-point">
                <div>   
                    <div class="sum">0</div>
                    <div class="description">Профпроб проведено</div>
                </div>
            </div>
            <div class="line"></div>
            <div class="data-point">
                <div>   
                    <div class="sum">0</div>
                    <div class="description">Обучено по коротким программам</div>
                </div>
            </div>
            <div class="line"></div>
            <div class="data-point">
                <div>   
                    <div class="sum">0</div>
                    <div class="description">Интенсивов проведено</div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard-lists">
        <div class="schedule-list">
            <div class="schedule-list-header">
                <h2>Расписание (ближайщие 2 недели)</h2>
            </div>
            <table class="table">
                <thead>
                    <th class="schedule-name-th" scope="col">ID пробы</th>
                    <th scope="col">Поток</th>
                    <th scope="col">Программа</th>
                    <th scope="col">Преподователь</th> 
                    <th scope="col">Дата и время</th>
                </thead>
                <tbody>
                    {% for test in tests %}
                        {% if test.students.all.count != 0 %}
                        <tr>
                            <td scope="row" class="nowrap schedule" data-bs-toggle="modal" data-bs-target="#TestModal{{test.id}}">{{test.id}}</td>
                            <td scope="row" class="nowrap">Поток №{{test.stream.id}}</td>
                            <td scope="row" class="nowrap">{{test.program}}</td>
                            <td scope="row" class="nowrap">{{test.trainer}}</td>
                            <td scope="row" class="nowrap">{{test.start_time}} {{test.date|date:"d.m.y"}}г</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="trainers-list">
            <div class="trainers-list-header">
                <h2>Преподователи</h2>
                <button class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#addTrainerModal">Добавить преподователя</button>
            </div>
            {% if message == "userOk" %}
                <div class="alert alert-success" role="alert">
                    Преподователь добавлен успешно!
                </div>
            {% elif message == "userDuplicate" %}
                <div class="alert alert-danger" role="alert">
                    Пользователь с данным email уже существует. Если Вы хотите создать для пользователя аккаунт педагога, используйте другой email.
                </div>
                <p></p>
            {% endif %}
            <table class="table">
                <thead>
                    <th class="trainer-name-th" scope="col">ФИО</th>
                    <th scope="col">Должность</th>
                    <th scope="col">Email</th>
                    <th scope="col">Телефон</th>
                </thead>
                <tbody>
                    {% for trainer in trainers %}
                        <tr>
                            <td class="trainer-name" scope="row">{{trainer.user}}</td>
                            <td scope="row">{{trainer.position}}</td>
                            <td scope="row">{{trainer.user.email}}</td>
                            <td scope="row">{{trainer.user.phone_number}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>            
        <div class="programs-list">
            <div class="programs-list-header">
                <h2>Программы подготовки</h2>
                <button class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#addProgramModal">Добавить программу</button>
            </div>
            <table class="table">
                <thead>
                    <th class="program-name-th" scope="col">Название</th>
                    <th scope="col">Ссылка</th>
                    <th scope="col">Тип программы</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Расписание</th>
                </thead>
                <tbody>
                    {% for program in programs %}
                        <tr>
                            <td scope="row" class="program-name" data-bs-toggle="modal" data-bs-target="#EditProgramModal{{program.id}}">{{program.name}}</td>
                            <td scope="row"> <a href="{{program.program_link}}" target="_blank">Ссылка</a></td>
                            <td scope="row">{{program.get_program_type_display}}</td>
                            {% if program.status == "CHCK" %}
                                <td class="program-check" scope="row">На проверке</td>
                            {% elif program.status == "PRF" %}
                                <td class="program-approve" scope="row">Одобрена</td>
                            {% else %}
                                <td class="program-denied" scope="row">Отказано</td>
                            {% endif %}
                            <td scope="row"><a href="{% url 'program_schedule' ed_center.id program.id %}" target="_blank">Сформировать</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="workshops-list">
            <div class="workshops-list-header">
                <h2>Мастерские</h2>
                <button class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#addWorkshopModal">Добавить мастерскую</button>
            </div>
            {% if message == "WorkshopOk" %}
                <div class="alert alert-success" role="alert">
                    Мастерская добавлена успешно!
                </div>
            {% endif %}
            <table class="table">
                <thead>
                    <th class="program-name-th" scope="col">Компетенция</th>
                    <th scope="col">Адрес</th>
                    <th scope="col">Комментарий</th>
                </thead>
                <tbody>
                    {% for workshop in workshops %}
                        <tr>
                            <td scope="row" class="program-name" data-bs-toggle="modal" data-bs-target="#EditWorkshopModal{{workshop.id}}">{{workshop.competence}}</td>
                            <td scope="row">{{workshop.adress}}</td>
                            <td scope="row">{{workshop.description}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="conferences-list">
            <div class="conferences-list-header">
                <h2>Конференции</h2>
                <button class="btn btn-outline-success btn-sm" data-bs-toggle="modal" data-bs-target="#addConferenceModal">Добавить ссылку</button>
            </div>
            {% if message == "ConferenceAdded" %}
                <div class="alert alert-success" role="alert">
                    Конференция добавлена успешно!
                </div>
            {% endif %}
            <table class="table">
                <thead>
                    <th class="program-name-th" scope="col">Название ссылки</th>
                    <th scope="col">Ссылка на конференцию</th>
                    <th scope="col">Идентификатор</th>
                    <th scope="col">Код доступа</th>
                </thead>
                <tbody>
                    {% for conference in conferences %}
                        <tr>
                            <td scope="row" class="program-name">{{conference.name}}</td>
                            <td scope="row">{{conference.invite_link}}</td>
                            <td scope="row">{{conference.Identifier}}</td>
                            <td scope="row">{{conference.access_code}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}