{% extends "layout.html" %}
{% load static %}

{% block title %} ЦОПП СО | Импорт программ{% endblock %}
{% block style %}
    <link href="{% static 'education_centers/css/import.css' %}" rel="stylesheet">
{% endblock %}
{% block script %}
    <script src="{% static 'education_centers/js/import.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="card" style="width: 25rem;" id='import_form'>
        <h2>Импортировать&nbspданные</h2>
        <form enctype="multipart/form-data" action="{% url 'import_programs' %}" method="post">
            <div class="input-group mb-3">
                {{ form }}
            </div>
            <div class="submit">
                <input type="submit" value="Загрузить данные" class="btn btn-primary">   
            </div>
        </form>

         {% if False %}
            <div class="alert alert-success" role="alert">
                <p>Слотов добавлено – <strong>{{ message.0 }}</strong></p>
            </div>   
        {% endif %}
        
        {% if False %}
            <div class="alert alert-danger" role="alert">
                <p>{{message}}</strong></p>
                <ol>
                    {{ed_center}}
                {% for ed_center in message.1 %}
                    <li>{{ed_center}}</li>
                {% endfor %}
                </ol>
            </div> 
        {% endif %}
    </div>

{% endblock %}
