{% extends "education_centers/ed_center_layout.html" %}
{% load static %}
{% load schedule_extras %}
{% block title %}ЦОПП СО | Импорт ЦО{% endblock %}

{% block style %}
    <link href="{% static 'education_centers/css/ed_center_layout.css' %}" rel="stylesheet">
    <link href="{% static 'education_centers/css/program_schedule.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="{% static 'education_centers/js/ed_center.js' %}" rel="stylesheet"></script>
{% endblock %}

{% block dashboard %}
    <div class="programs-list">
        <div class="programs-list-header">
            <h2>Расписание  по программе {{program}}</h2>
        </div>
        {% if message == "TestsAdded" %}
            <div class="alert alert-success" role="alert">
                Расписание добавлено успешно!
            </div>
        {% endif %}
        <form action="{% url 'program_schedule' ed_center.id program.id %}" method="post">
            <table class="table">
                <thead>
                    <th scope="col" class="cycle_name">Цикл</th>
                    <th scope="col">Дата</th>
                    <th scope="col">Время начала</th>
                    <th scope="col">Преподователь</th>
                </thead>
                <tbody>
                    {% for test in tests %}
                        <tr>
                            <td scope="row" class="cycle_name">{{test.stream.cycle.name}}</td>
                            <td scope="row">
                                <div class="form mb-3">
                                    <select class="selectpicker" data-width="100%" data-live-search="true" name="test{{test.id}}_date" required>
                                        {% if test.date != None %}
                                            <option value="{{test.date}}">{{test.date}}</option>
                                        {% endif %}
                                        {% if test.stream.cycle.is_any_day == True %}
                                            {% for available_date in test.stream.available_dates.all|filter_unavailable %}
                                                <option value="{{available_date.id}}">{{available_date.date}}</option>
                                            {% endfor %}
                                        {% else %}
                                            {% for available_date in test.stream.available_dates.all|filter_busy %}
                                                <option value="{{available_date.id}}">{{available_date.date}}</option>
                                            {% endfor %}
                                        {% endif %}

                                    </select>
                                </div>
                            </td>
                            <td scope="row">
                                <div class="input mb-3">
                                    <input type="time" class="form-control" name="test{{test.id}}_start_time" placeholder="Время начало" aria-label="Время" min="8:00" max="19:00" value="{{test.start_time}}" required>
                                </div>
                            </td>
                            <td scope="row">
                                <div class="form mb-3">
                                    <select class="selectpicker" data-width="100%" data-live-search="true" name="test{{test.id}}_trainer" required>
                                        {% if test.trainer != None %}
                                            <option value="{{test.trainer.id}}">{{test.trainer}}</option>
                                        {% endif %}
                                        {% for trainer in ed_center.trainers.all %}
                                            <option value="{{trainer.id}}">{{trainer}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="save_schedule">
                <button type="submit" class="btn btn-primary">Сохранить расписание</button>
            </div>
        </form>
    </div>
{% endblock %}