{% extends "layout.html" %}
{% load static %}
{% block title %}ЦОПП СО | ЛК Центра обучения{% endblock %}

{% block style %}
        <link href="{% static 'schedule/css/competence_schedule.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    
{% endblock %}

{% block body %}
    <div class="cover">
        <div class="cover-background"></div>
        <div class="cover-text">
            <h1>ПОГРУЖЕНИЕ В МИР ДЕЯТЕЛЬНОСТИ</h1>
            <p>Личный кабинет центра обучения:<br><b>{{education_center}}</b></p>
        </div>
    </div>
    <div class="section profile-section">
        <div class="container-xxl">
            <div class="h2"><h2>Мастерские</h2></div>
                <div class="submit-btn">
                <a href="{% url 'add_workshop' %}">
                    <button type="submit" class="btn btn-primary">Добавить мастерскую</button>
                </a>
                </div>
                <table class="table table-bordered align-middle">
                    <tr class="table-dark">
                        <th>Адрес</th>
                        <th>Компетенция</th>
                        <th>ЦО</th>
                        <th >Описание</th>
                    </tr>
                    {% for workshop in workshops %}
                            <tr>   
                                <td>
                                    {{workshop.adress}}
                                </td>
                                <td>
                                    {{workshop.competence}}
                                </td>
                                <td>
                                    {{workshop.education_center}}
                                </td>
                                <td>
                                    {{workshop.description}}
                                </td>
                            </tr>
                    {% endfor %}
                </table>
        </div>
{% endblock %}
