{% extends "layout.html" %}
{% load static %}
{% block title %}ЦОПП СО | Наборы проб{% endblock %}

{% block style %}
        <link href="{% static 'schedule/css/cycles_list.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}

{% endblock %}

{% block body %}
    <div class="modal fade" id="AddCycleModal" tabindex="-1" aria-labelledby="AddCycleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddCycleLabel">Создать цикл</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'cycles_list' %}" method="post">
                    <div class="modal-body">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" name="name" placeholder="Название цикла" required>
                        </div>
                        <div class="form mb-3">
                            <select name="fields_of_activity" class="selectpicker" title="Сферы деятельности" data-width="100%" data-live-search="true" multiple required>
                                {% for field in fields_of_activity %}
                                    <option value={{field.id}}>{{field.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form mb-3">
                            <select name="competencies" class="selectpicker" title="Компетенции" data-width="100%" data-live-search="true" multiple required>
                                {% for competence in competencies %}
                                    <option value={{competence.id}}>{{competence.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form mb-3">
                            <select name="programs" class="selectpicker" title="Программы" data-width="100%" data-live-search="true" multiple required>
                                {% for program in programs %}
                                    <option value={{program.id}}>{{program.name}} ({{program.education_center.short_name}})</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form mb-3">
                            <select name="city" class="selectpicker" aria-label="Город" data-width="100%" data-live-search="true">
                                <option selected>Выберите город</option>
                                {% for city in cities %}
                                    <option value={{city.id}}>{{city.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form mb-3">
                            <select name="schools" class="selectpicker" title="Школы" data-width="100%" data-live-search="true" multiple required>
                                {% for school in schools %}
                                    <option value={{school.id}}>{{school.name}} ({{school.address.city.name}})</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="start_date" class="form-label">Дата начала</label>
                            <input type="date" class="form-control" name="start_date" placeholder="Дата начала" required>
                        </div>
                        <div class="mb-3">
                            <label for="end_date" class="form-label">Дата окончания</label>
                            <input type="date" class="form-control" name="end_date" placeholder="Дата окончания" required>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <div class="submit">
                            <input type="submit" value="Добавить цикл" class="btn btn-primary">   
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="header">
        <h2>Циклы профпроб</h2>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#AddCycleModal">
            Добавить цикл
        </button>
    </div>
    <div class="cycles_list">
        {% for cycle in cycles %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{cycle.name}}</h5>
                    <p><b>Дата начала:</b> {{cycle.start_date}}<br><b>Дата окончания:</b> {{cycle.end_date}}</p>
                    <p style="margin: 0"><b>Программы:</b></p>
                    <ul class="list-group list-group-flush">
                        {% for program in cycle.programs.all %}
                            <li class="list-group-item">{{program.name}}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="card-footer text-muted">
                    <button class="btn btn-primary">Изменить</button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}