{% extends "layout.html" %}
{% load static %}
{% load schedule_extras %}
{% block title %}ЦОПП СО | Наборы проб{% endblock %}

{% block style %}
        <link href="{% static 'schedule/css/bundles_list.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="{% static 'schedule/js/bundles_list.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="header">
        <h2>Цикл "{{stream.cycle}}", расписание потока №{{stream.id}}</h2>
    </div>
    <div class="bundles_list">
        {% for test in stream.tests.all %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{test.program}}</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Центр обученимя:</b> {{test.ed_center.short_name}}</li>
                        {% if test.date == None %}
                            <li class="list-group-item"><b>Дата проведения:</b> -</li>
                        {% else %}
                            <li class="list-group-item"><b>Дата и время проведения:</b> {{test.start_time}} {{test.date|date:"d.m.y"}}г</li>
                        {% endif %}
                        {% if test.conference != None %}
                            <li class="list-group-item">
                                <h5>Данные для подключения</h5>
                                <b>Ссылка на подключение:</b> <a href="{{test.conference.invite_link}}">{{test.conference.invite_link}}</a>
                                {% if test.conference != None %}
                                    <br><b>Идентификатор:</b> {{test.conference.Identifier}}</a>
                                {% endif %}
                                {% if test.conference != None %}
                                    <br><b>Код доступа:</b> {{test.conference.access_code}}</a>
                                {% endif %}
                                {% if test.conference != None %}
                                    <br><b>Инструкция:</b> {{test.conference.instruction}}</a>
                                {% endif %}
                            </li>
                        {% elif test.workshop != None %}
                            <li class="list-group-item">
                                <b>Адрес:</b> {{test.workshop.adress}}
                                <p>
                                    <b>Подсказка:</b> {{test.workshop.description}}
                                </p>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}