{% extends "layout.html" %}
{% load static %}
{% block title %}ЦОПП СО | Личный кабинет{% endblock %}

{% block style %}
        <link href="{% static 'schedule/css/student_profile.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="{% static 'schedule/js/student_profile.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="modal fade" id="ChangeProfileModal" tabindex="-1" aria-labelledby="ChangeProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Изменить данные профиля</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post">
                    <div class="modal-body">
                        <div class="form-floating mb-3">
                            <input type="input" class="form-control" name="name" id="Name" placeholder="Имя" value="{{user.first_name}}" required>
                            <label for="Name">Имя</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="input" class="form-control" name="middle_name" id="MiddleName" placeholder="Отчество" value="{{user.middle_name}}">
                            <label for="MiddleName">Отчество</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="input" class="form-control" name="last_name" id="LastName" placeholder="Фамилия" value="{{user.last_name}}" required>
                            <label for="LastName">Фамилия</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" name="birthday" id="Birthday" placeholder="Дата рождения" value="{{user.birthday.isoformat}}" required>
                            <label for="Birthday">Дата рождения</label>
                        </div>
                        <div class="form mb-3">
                            <select class="selectpicker" data-width="100%" data-live-search="true" name="school" id="School" required>
                                <option value="{{user.school.id}}">{{user.school.name}}</option>
                                {% for school in schools %}
                                    <option value="{{school.id}}">{{school.name}} ({{school.city}})</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form mb-3">
                            <div class="row g-3">
                                <div class="col">
                                    <select class="form-control" name="school_class" id="school_class" required>
                                            <option value="{{user.school_class.grade_number}}">{{user.school_class.grade_number}}</option>
                                        {% if user.school_class.grade_number != 6 %}
                                            <option value="6">6</option>
                                        {% endif %}
                                        {% if user.school_class.grade_number != 7 %}
                                            <option value="7">7</option>
                                        {% endif %}
                                        {% if user.school_class.grade_number != 8 %}
                                            <option value="8">8</option>
                                        {% endif %}
                                        {% if user.school_class.grade_number != 9 %}
                                            <option value="9">9</option>
                                        {% endif %}
                                        {% if user.school_class.grade_number != 10 %}
                                            <option value="10">10</option>
                                        {% endif %}
                                        {% if user.school_class.grade_number != 11 %}
                                            <option value="11">11</option>
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="col">
                                    <input type="input" class="form-control" name="school_class_latter" id="school_class_latter" placeholder="Буква класса" value="{{user.school_class.grade_letter}}" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" name="email" id="Email" placeholder="Email" value="{{user.email}}" required>
                            <label for="Email">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="phone2numeric" class="form-control" name="phone" id="Phone" placeholder="Номер телефона" value="{{user.phone_number}}" required>
                            <label for="Phone">Номер телефона</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="section profile-section">
        <div class="container-xxl">
            <div class="row row-cols-3 g-3">
                <div class="col-12 justify-content-center text-left">
                    <div class="row row-cols-6 g-5">
                        <div class="col-5">
                            <div class="card card-profile border-dark">
                                <h2 class="card-header border-dark">
                                    Мой профиль
                                </h2>
                                <div class="card-body border-dark">
                                    <h5>{{user.last_name}} {{user.first_name}} {{user.middle_name}}</h5>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><b>Email:</b> {{user.email}}</li>
                                        <li class="list-group-item"><b>Номер телефона:</b> {{user.phone_number}}</li>
                                        <li class="list-group-item"><b>Дата рождения:</b> {{user.birthday}}</li>
                                        <li class="list-group-item"><b>Школа:</b> {{student.school.name}}</li>
                                        <li class="list-group-item"><b>Класс:</b> {{student.grade.grade}}{{student.grade.grade_letter}}</li>
                                    </ul>
                                </div>
                                <!--<div class="card-footer text-end border-dark">
                                    <div class="d-grid gap-2 d-md-block">
                                        <button type="button" class="btn btn-primary" id="Change_profile" data-bs-toggle="modal" data-bs-target="#ChangeProfileModal">
                                            Изменить личные данные
                                        </button>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                        <div class="col-7 shedule_list">
                            <div class="header">Расписание (ближайщие 2 недели)</div>
                            {% for test in tests %}
                                <div class="card card-test">
                                    <div class="card-body">
                                        <h5 class="card-title">{{test.program}}</h5>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><b>Центр обученимя:</b> {{test.ed_center.short_name}}</li>
                                            {% if test.date == None %}
                                                <li class="list-group-item"><b>Дата проведения:</b> -</li>
                                            {% else %}
                                                <li class="list-group-item"><b>Дата и время проведения:</b> {{test.start_time}} {{test.date|date:"d.m.y"}}г</li>
                                            {% endif %}
                                            {% if test.conference != None %}
                                                <li class="list-group-item">
                                                    <h5>Данные для подключения</h5>
                                                    <b>Ссылка на подключение:</b> <a href="{{test.conference.invite_link}}">{{test.conference.invite_link}}</a>
                                                    {% if test.conference != None %}
                                                        <br><b>Идентификатор:</b> {{test.conference.Identifier}}</a>
                                                    {% endif %}
                                                    {% if test.conference != None %}
                                                        <br><b>Код доступа:</b> {{test.conference.access_code}}</a>
                                                    {% endif %}
                                                    {% if test.conference != None %}
                                                        <br><b>Инструкция:</b> {{test.conference.instruction}}</a>
                                                    {% endif %}
                                                </li>
                                            {% elif test.workshop != None %}
                                                <li class="list-group-item">
                                                    <b>Адрес:</b> {{test.workshop.adress}}
                                                    <p>
                                                        <b>Подсказка:</b> {{test.workshop.description}}
                                                    </p>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}