{% extends "layout.html" %}
{% load static %}
{% block title %}ЦОПП СО | Личный кабинет{% endblock %}

{% block style %}
        <link href="{% static 'schedule/css/student_profile.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
    <script src="{% static 'schedule/js/student_profile.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="modal fade" id="ChangeProfileModal" tabindex="-1" aria-labelledby="ChangeProfileModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Изменить данные профиля</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'change_profile_student' %}" method="post">
                    <div class="modal-body">
                        <div class="form-floating mb-3">
                            <input type="input" class="form-control" name="name" id="Name" placeholder="Имя" value="{{user.first_name}}" required>
                            <label for="Name">Имя</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="input" class="form-control" name="middle_name" id="MiddleName" placeholder="Отчество" value="{{user.middle_name}}">
                            <label for="MiddleName">Отчество</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="input" class="form-control" name="last_name" id="LastName" placeholder="Фамилия" value="{{user.last_name}}" required>
                            <label for="LastName">Фамилия</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" class="form-control" name="birthday" id="Birthday" placeholder="Дата рождения" value="{{user.birthday.isoformat}}" required>
                            <label for="Birthday">Дата рождения</label>
                        </div>
                        <div class="form mb-3">
                            <select class="selectpicker" data-width="100%" data-live-search="true" name="school" id="School" required>
                                <option value="{{user.school.id}}">{{user.school.name}}</option>
                                {% for school in schools %}
                                    <option value="{{school.id}}">{{school.name}} ({{school.city}})</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form mb-3">
                            <div class="row g-3">
                                <div class="col">
                                    <select class="form-control" name="school_class" id="school_class" required>
                                            <option value="{{user.school_class.grade_number}}">{{user.school_class.grade_number}}</option>
                                        {% if user.school_class.grade_number != 6 %}
                                            <option value="6">6</option>
                                        {% endif %}
                                        {% if user.school_class.grade_number != 7 %}
                                            <option value="7">7</option>
                                        {% endif %}
                                        {% if user.school_class.grade_number != 8 %}
                                            <option value="8">8</option>
                                        {% endif %}
                                        {% if user.school_class.grade_number != 9 %}
                                            <option value="9">9</option>
                                        {% endif %}
                                        {% if user.school_class.grade_number != 10 %}
                                            <option value="10">10</option>
                                        {% endif %}
                                        {% if user.school_class.grade_number != 11 %}
                                            <option value="11">11</option>
                                        {% endif %}
                                    </select>
                                </div>
                                <div class="col">
                                    <input type="input" class="form-control" name="school_class_latter" id="school_class_latter" placeholder="Буква класса" value="{{user.school_class.grade_letter}}" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" name="email" id="Email" placeholder="Email" value="{{user.email}}" required>
                            <label for="Email">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="phone2numeric" class="form-control" name="phone" id="Phone" placeholder="Номер телефона" value="{{user.phone_number}}" required>
                            <label for="Phone">Номер телефона</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="section profile-section">
        <div class="container-xxl">
            <div class="row row-cols-3 g-3">
                <div class="col-12 justify-content-center text-left">
                    <div class="row row-cols-6 g-5">
                        <div class="col-5">
                            <div class="card card-profile border-dark">
                                <h2 class="card-header border-dark">
                                    Мой профиль
                                </h2>
                                <div class="card-body border-dark">
                                    <h5>{{user.last_name}} {{user.first_name}} {{user.middle_name}}</h5>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><b>Email:</b> {{user.email}}</li>
                                        <li class="list-group-item"><b>Номер телефона:</b> {{user.phone_number}}</li>
                                        <li class="list-group-item"><b>Дата рождения:</b> {{user.birthday}}</li>
                                        <li class="list-group-item"><b>Школа:</b> {{user.school.name}}</li>
                                        <li class="list-group-item"><b>Класс:</b> {{user.school_class.grade_number}}{{user.school_class.grade_letter}}</li>
                                    </ul>
                                </div>
                                <div class="card-footer text-end border-dark">
                                    <div class="d-grid gap-2 d-md-block">
                                        <button type="button" class="btn btn-primary" id="Change_profile" data-bs-toggle="modal" data-bs-target="#ChangeProfileModal">
                                            Изменить личные данные
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-7">
                            <h2> 
                                Ближайщие профориентационные мероприятия
                            </h2>
                            {% if choosen_bundles_len == 0 %}
                                <p>На данный момент у Вас нет выбранных мероприятий</p>
                            {% else %}
                                <div class="row row-cols-2 g-3">
                                    {% if upcoming_slots is not None %}
                                        {% for slot in upcoming_slots %}
                                            <div class="col">
                                                <div class="card upcoming-card h-100">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Компетенция "{{slot.competence}}"</h5>
                                                        <p><b>Центр обучения:</b> {{slot.education_center}}</p>
                                                        <p><b>Дата и время:</b> {{slot.date|date:"d/m/y"}} {{slot.time}}</p>
                                                        {% if trainer.role == 'CO' %}
                                                            <p><b>Преподователь:</b> {{slot.trainer}}</p>
                                                        {% endif %}
                                                        {% if slot.online %}
                                                            {% if slot.zoom_link is not None %}
                                                                <p><a href="{{slot.zoom_link}}">Ссылка на конференцию</a></p>
                                                                <p><b>Инструкция:</b> {{slot.zoom_instruction}}</p>
                                                            {% else %}
                                                            <p>Ссылка на конференцию не указана.</p>
                                                            {% endif %}
                                                        {% else %}
                                                            <p><b>Адрес:</b> {{slot.workshop.adress}}</p>
                                                            <p>{{slot.Workshop.description}}</p>
                                                        {% endif %}
                                                        <p><b>Преподователь:</b> {{slot.trainer}}</p>
                                                        <p><b>Контактный email:</b> {{slot.trainer.email}}</p>
                                                        <p><b>Контактный телефон:</b> {{slot.trainer.phone_number}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {% for bundle in choosen_bundles %}
                                            <div class="col-12">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Набор "{{bundle.name}}"</h5>
                                                        <p class="card-text">Набор проб по 11 компетенциям в различных профобластях позволяет понять и попробовать множество различных профессиональных путей.</p>
                                                    </div>
                                                    <div class="card-footer">
                                                        <div class="d-grid gap-2">
                                                            <p>Расписание профпроб будет сформированно 1 апреля (пятница) 2022 года. Его вы сможете найти в личном кабинете, также на вашу почту будет высланно письмо с расписанием.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
        <div class="section online-section">
            <div class="container">
                <div class="row row-cols-3 g-3">
                    <div class="col-12 justify-content-center text-center">
                        <h2>Профессиональны пробы (Цикл #2)</h2>
                        <p>Ученики школ Самарской области с 6 по 11 класс могут принять участии в мероприятиях, организованных ЦОПП СО и партнёрами. Часть мероприятий будет проходить онлайн, часть на площадках партнёрских центров обучения в вашем городе, длительность одного мероприятия – 90 минут. Профпробы будут объедененны в наборы по 11 проб по различным компетенциям.</p> 
                    </div>
                    {% if bundles_count != 0 %}
                        {% for bundle in bundles %}
                            <div class="col-6">
                                <div class="card bundle-card h-100">
                                    <div class="card-body">
                                        <h5 class="card-title">Набор "{{bundle.name}}"</h5>
                                        <p class="card-text">Набор проб по 11 компетенциям в различных профобластях позволяет понять и попробовать множество различных профессиональных путей. В набор входя следующие компетенции:</p>

                                        <ul class="list-group list-group-flush">
                                            {% for competence in bundle.competencies.all %}
                                                <li class="list-group-item">{{competence}}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="card-footer">
                                        <div class="d-grid gap-2">
                                            <form action="{% url 'choose_bundle' %}" method="post">
                                                <input type="input" class="form-control" name="bundle_id" value="{{bundle.id}}" style="display: none;">
                                                <div class="d-grid gap-2">
                                                        <button type="submit" class="btn btn-primary">Записаться</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="zero-alert col-12">
                            <div class="alert alert-warning " role="alert">
                                <h4 class="alert-heading">Нет доступных проб!</h4>
                                <p>В ближайщие несколько дней мы предоставим доступ к форме записи. Сейчас мы согласовываем состав и расписание с нашими партнёрами.</p>
                                <hr>
                                <p class="mb-0">Спасибо за терпение, когда запись будет доступна, мы отправим уведомление на Вашу почту!</p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}