.body
    justify-content: center
    background-color: #F2F2F2
    color: #394959
    h2 
        font-size: 22px
        text-align: center
        margin-bottom: 1.5rem

.profile
    width: 400px
    height: fit-content
    margin: 30px 0px 0px 0px
    background-color: white
    padding: 15px 15px 26px 20px
    border-radius: 8px
    box-shadow: 4px 4px 4px 0px rgb(0 0 0 / 15%)
    p
        margin-bottom: 5px
    .ed_center-preview
        margin-bottom: 15px
        .ed_center-name
            display: flex
            justify-content: space-between
            align-items: flex-start
            p
                margin-top: 10px
            .edit-icon
                width: 35px
                padding: 2px
                border-radius: 50px 
                &:hover
                    background: #F2F2F2
.dashboard
    margin-left: 50px
    margin-top: 0
    .overview
        margin: auto
        margin-top: 35px
        background-color: white
        width: fit-content
        padding: 15px 35px
        border-radius: 8px
        box-shadow: 4px 4px 4px 0px #00000026
        .overview-data
            display: flex
            flex-direction: row
            flex-wrap: wrap
            justify-content: center
            gap: 25px
            .data-point
                display: flex
                justify-content: center
                width: 250px
                text-align: center
                .sum
                    font-size: 32px
                img
                    width: 100px
                    height: 100px
            .line
                width: 2px
                background-color: #39495950           
    .dashboard-lists
        display: flex
        flex-direction: column
        justify-content: space-between
        gap: 25px
        padding: 30px 0px
        >div
            width: 100%
            background-color: white
            padding: 15px 35px
            border-radius: 8px
            box-shadow: 4px 4px 4px 0px #00000026
            .programs-list-header, .trainers-list-header
                display: flex
                justify-content: space-between
                h2
                    margin-bottom: 10px
                .btn
                    width: 200px
                    height: 30px
            th
                color: #394959
                font-weight: 500 !important
                text-align: center
                border-top: 0
            .program-name-th, .trainer-name-th
                text-align: left
            .program-name
                text-decoration: underline
                font-weight: 400
                cursor: pointer
            .program-name, .trainer-name
                text-align: left
            tr
                color: #394959
                font-weight: 300 !important
                text-align: center
                .program-check
                    color: #ffc107
                    font-weight: 500
                .program-approve
                    color: #198754
                    font-weight: 500
                .program-denied
                    color: #dc3545
                    font-weight: 500

.dropdown-toggle
    background-color: white
    border: 1px solid #ced4da
    .placeholder
        color: #6c757d

#addProgramModal, .EditProgramModal
    .modal-content
        width: 700px
        .modal-body
            padding: 15px 64px
        .criteria
            display: flex
            flex-wrap: wrap
            column-gap: 20px
            justify-content: center
            p
                width: 100%
                text-align: center
                font-size: 20px
            textarea
                width: 300px
            input
                width: 250px
#editCenterModal
    .modal-content
        width: fit-content
        color: #394959
        h2
            margin: auto
            margin-top: 10px
            margin-bottom: 10px
        p
            font-weight: 600
            text-align: center
    .form
        padding: 10px 15px
        row-gap: 10px
        column-gap: 20px
        display: grid
        grid-template-columns: 350px 350px
        grid-template-rows: auto auto auto
        grid-auto-flow: row
        .School
            grid-column: 1
            grid-row: 1
        .Address
            grid-column: 2
            grid-row: 1
        .ContactPerson
            grid-column: 1
            grid-row: 2
        .Contacts
            grid-column: 2
            grid-row: 2
    .submit
        input
            width: 100%
            background-color: #394959
            border: 1px solid #394959
            font-weight: bold
            &:hover
                background-color: white
                color: #394959