.section
    width: 100%
    padding: 40px

.profile-section
    padding: 40px
    background-color: #e9ecf7
    color: #394959
    .card
        border: 1px solid black
        box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, .2)
        .card-header
            display: flex
            justify-content: space-between
            .btn-primary
                background-color: #394959
                border: 1px solid #394959
                box-shadow: 1px 1px 1px 1px rgba(0,0,0,.4)
        .card-body
            border: 1px
        .list-group-item
            color: #394959
    .upcoming-events
        text-align: center
        
    .upcoming-card
        width: 600px
        margin: auto
        margin-bottom: 10px
        p
            margin-bottom: 5px

.group-card
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, .2)
    .card-body
        padding: 0
        p
            margin-bottom: 7px
        .card-header
            padding: 10px
            background-color: rgb(57, 73, 89)
            color: white
            text-align: center
            .card-title
                margin: 0
                font-weight: 500 !important
        .card-text
            margin: 15px
            margin-bottom: 0px
        .btn-add-link
            background-color: #394959
            box-shadow: 1px 1px 1px 1px rgba(0,0,0,.4)
            border: 0px
            width: 100%
            margin: 5px
            margin-bottom: 10px
        .btn-change-link
            color: #394959
            font-weight: bold
            background-color: white
            box-shadow: 1px 1px 1px 1px rgba(0,0,0,.4)
            border: 1px solid #394959
            width: 100%
            margin: 5px
            margin-bottom: 10px
        .add-form
            display: none
    .slot-submit
        margin-top: 10px
    .cancel_slot
        width: 100%
        .btn
            width: 100%
    .unsub-form
        width: 100%
        display: flex
        justify-content: space-between
        .btn
            padding: 3px
