.modal .list-group-item
    color: #394959
.students-list-modal
    display: flex
    justify-content: space-between
    
.overview
    max-width: calc(100vw - 100px)
    @media (max-width: 1050px)
        max-width: calc(100vw - 40px)
    background-color: white
    width: fit-content
    padding: 15px 35px
    border-radius: 8px
    box-shadow: 4px 4px 4px 0px #00000026
    .overview-data
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: center
        gap: 25px
        .data-point
            display: flex
            justify-content: center
            width: 250px
            text-align: center
            .sum
                font-size: 32px
            img
                width: 100px
                height: 100px
        .line
            width: 2px
            background-color: #39495950           
.dashboard-lists
    display: flex
    flex-direction: column
    justify-content: space-between
    gap: 25px
    padding: 30px 0px
    >div
        background-color: white
        padding: 15px 35px
        border-radius: 8px
        box-shadow: 4px 4px 4px 0px #00000026
        .students-list-header
            display: flex
            justify-content: space-between
            h2
                margin-bottom: 10px
            .btn
                width: 200px
                height: 30px
        .save_schedule
            display: flex
            justify-content: flex-end

        th
            color: #394959
            font-weight: 500 !important
            text-align: center
            border-top: 0
        tr
            color: #394959
            font-weight: 300 !important
            text-align: center
        .nowrap
            white-space: nowrap
        .test
            text-decoration: underline
            font-weight: 400
            cursor: pointer
        .empty-schedule
            margin: 130px
            font-size: 18px
            text-align: center

#table-wrapper 
    position: relative
    @media (max-width: 1050px)
        max-width: calc(100vw - 110px)

#table-scroll 
    max-width: 800px
    width: 56vw
    @media (max-width: 1050px)
        width: calc( 100vw - 110px )
    overflow: auto
    margin-top: 20px
