{% extends "schools/school_layout.html" %}
{% load static %}

{% block style %}
        <link href="{% static 'schools/css/grades_list.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
{% endblock %}

{% block dashboard %}
    <h1>Классы</h1>
    <div class="grades-list">
        {% for grade, grade_letters in grades.items %}
            <div class="grade-card card h-100">
                <p class="grade">{{grade}}</p>
                <div class="letters-list">
                    {% for grade_letter in grade_letters %}
                        <a class="letter" href="{% url 'grade' school.id grade_letter.id %}"><span>{{grade_letter.grade_letter}}</span></a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}