{% extends "schools/school_layout.html" %}
{% load static %}

{% block style %}
        <link href="{% static 'schools/css/school_profile.css' %}" rel="stylesheet">
{% endblock %}

{% block script %}
{% endblock %}

{% block dashboard %}
{% for test in tests %}
    <div class="modal fade TestModal" id="TestModal{{test.id}}" tabindex="-1" aria-labelledby="TestModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="TestLabel">{{test.program}} (Поток №{{test.stream.id}})</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p><b>Центр обучения:</b> {{test.ed_center.short_name}}</p>
                    <p><b>Преподаватель:</b> {{test.trainer}}</p>
                    <p><b>Дата и время проведения:</b> {{test.start_time}} {{test.date|date:"d.m.y"}}г</p>
                    {% if test.conference != None %}
                        <p>
                            <b>Ссылка на подключение:</b> <a href="{{test.conference.invite_link}}">{{test.conference.invite_link}}</a>
                            {% if test.conference != None %}
                                <br><b>Идентификатор:</b> {{test.conference.Identifier}}</a>
                            {% endif %}
                            {% if test.conference != None %}
                                <br><b>Код доступа:</b> {{test.conference.access_code}}</a>
                            {% endif %}
                            {% if test.conference != None %}
                                <br><b>Инструкция:</b> {{test.conference.instruction}}</a>
                            {% endif %}
                        </p>
                    {% elif test.workshop != None %}
                        <p>
                            <b>Адрес:</b> {{test.workshop.adress}}
                            <p>
                                <b>Подсказка:</b> {{test.workshop.description}}
                            </p>
                        </p>
                    {% endif %}
                    <ul class="list-group">
                        <p><b>Участники:</b></p>
                        {% for student in test.students.all %}
                            {% if student.school == school %}
                                <form action="{% url 'school_profile' school.id %}" method="post">
                                    <input style="display:none;" type="input" class="form-control" name="student_id"  value={{student.id}}  required>
                                    <input style="display:none;" type="input" class="form-control" name="test_id"  value={{test.id}}  required>
                                    <li class="list-group-item students-list-modal">
                                        {{student.user}}
                                        <button type="submit" class="btn btn-sm btn-danger" name="exclude-student">Исключить</button>
                                    </li>
                                </form>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
    <div class="overview">
        <div class="data-point">
            {% if school.quota.quota != "" %}
                <div class="sum">{{students_count}}/{{school.quota.quota}}</div>
            {% else %}
                <div class="sum">{{students_count}}</div>
            {% endif %}
            <div class="description">учеников зарегистрировано</div>
        </div>
        <div class="data-point">
            <div class="sum">{{enroled_students_count}}</div>
            <div class="description">детей записано<br>на профпробы</div>
        </div>
        <div class="data-point">
            <div class="sum">{{test_count}}</div>
            <div class="description">Проб<br>пройдено</div>
        </div>
    </div>
    <div class="dashboard-lists">
            <div class="schedule-list">
                <div class="schedule-list-header">
                    <h1 style="margin: auto">Ближайшие профпробы</h1>
                    <p>{{date_today|date:'d F Y'}} - {{date_two_weeks|date:'d F Y'}}</p>
                </div>
                {% if tests.all.count != 0 %}
                <div id="table-wrapper">
                    <div id="table-scroll">
                        <table class="table">
                            <tr> 
                                <th scope="col">ID пробы</th>
                                <th scope="col">Поток</th>
                                <th scope="col">Программа</th>
                                <th scope="col" class="nowrap">Центр обучения</th>
                                <th scope="col" class="nowrap">Дата и время</th>
                            </tr>
                            {% for test in tests %}
                                <tr>
                                    <td scope="row" class="nowrap test" data-bs-toggle="modal" data-bs-target="#TestModal{{test.id}}">{{test.id}}</td>
                                    <td scope="row" class="nowrap">№{{test.stream.id}}</td>
                                    <td scope="row" class="nowrap">{{test.program}}</td>
                                    <td scope="row" class="nowrap">{{test.ed_center.short_name}}</td>
                                    <td scope="row" class="nowrap">{{test.start_time}} {{test.date|date:"d.m.y"}}г</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                {% else %}
                    <div class="empty-schedule">
                        <p>Профпроб на ближайшие 2 недели не запланировано.</p>
                    </div>
                {% endif %}
            </div>
    </div>
{% endblock %}